{% extends 'base.html' %}



{% block content %}
<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for post in page_obj %}

        <div class="col">
            <div class="card">
                <img class="card-img-top"
                    src="https://i.pinimg.com/originals/ee/6e/f0/ee6ef07d81503091c1cdb3700d0d5d90.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        {% endfor %}



    </div>
</div>

{% endblock content %}